name: CI

on: [push, pull_request]

jobs:
  lint-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v5
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          cache: true
          cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}
      - uses: Swatinem/rust-cache@v2
        with:
          # Only save cache on main to avoid thrashing
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - run: pixi run ci-fmt
      - run: pixi run ci-clippy
        if: success() || failure() 
      - run: pixi run test
        if: success() || failure()
